@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --titulo-cards: 20px;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --color-blue1: #004AAD;
  --color-green1: #00DD5C;
  --color-blue2: #183245;
  --color-blue3: #EDF9FF;
  --color-blue4: #72A3FF;
  --color-green2: #A7FFCE;
  --color-green3: #00ff6a;
  --font-open-sans: var(--font-open-sans);
  --font-fraunces: var(--font-fraunces);
  --shadow-3xl: 0 0 100px rgba(0, 0, 0, 0.10); 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

}

body {
  color: var(--color-blue2);
  font-family: 'Open Sans';
  font-size: 14px;
}

/* *HEADER */
.header a{

  display: block;
  position: relative;
  padding: 0.2em 0;
}


.header a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(105, 255, 255);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.header a:hover::after,
.header a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* .header a:hover,
.header a:focus {
  background-size: 0 0.1em, 100% 0.1em;
  background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
} */

/* * LANDING PAGE PAGETSX */
.cards-landing1{
  width: 340px;
  background-color: #EDF9FF;
  padding: 15px;
  font-weight: 600;
  display: flex;
  font-size: 17px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid #00FFE1;
  border-radius: 1rem;
  gap: 20px;
}

.icon-landingPage{
  width: 64px;
  height: 64px;
}

.numbers-icon{
  margin-bottom: 10px;
  width: 30px;
}

.cards-landing2{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid;
  /* border-image: linear-gradient(90deg, #00DD5C, #7188FF) 1; */
  border-color: #00ff6a;
  border-radius: 20px; 
  margin: 10px;
  gap: 5px;
  width: 500px;
}



/* * FOOTER */

.titulo-footer{
  font-size: 20px;
}

.a-footer{
  font-size: 14px;
}



/* * REGISTER PAGE */

.input-register{
  display:flex;
  flex-direction:column;
  gap: 2px;
}

.input-register input, select{
  font-size:14px;
  padding:11px 15px;
  border:1px solid rgb(201, 201, 201);
  border-radius:9px;
  background-color: white;
  width: 100%;
  transition:border-color .18s ease, box-shadow .18s ease;
}

.input-register input:focus, select:focus{
    box-shadow:0 0 0 3px rgba(62, 232, 255, 0.37);
    background-color: transparent;
  }

.input-register label{
  text-align: start;
  font-weight: 500;
  font-size: 13px;
  font-weight: bold;
}

.divider{
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #004AAD;
}

.divider p {
  margin: 0;
  color: #004AAD;
  font-size: 14px;
  white-space: nowrap;
}

/* -------------------------------------- */


/* ? INPUTS */

.input-gender{
  display: inline-flex;
  border-radius: 10px;
  padding: 0px;
  gap: 7px;
}

.input-gender input {
  display: none; 
  
}

.input-gender label {
  padding: 8px 16px;
  border-radius: 7px;
  font-size: 14px;  
  cursor: pointer;
  border: 1px solid transparent;
  background-color: white;
  transition: all 0.15s ease;

}

.input-gender label:hover {
  color: #60fa86;
}

.input-gender input:checked + label {
  background: rgba(172, 255, 179, 0.452);
  border-color: #3bf65a;
  color: #008d18;
}


.input-type-professional{
  display: inline-flex;
  border-radius: 10px;
  padding: 0px;
  gap: 7px;
}

.input-type-professional input {
  display: none; 
  
}

.input-type-professional label {
  padding: 8px 16px;
  border-radius: 7px;
  font-size: 14px;  
  cursor: pointer;
  border: 1px solid transparent;
  background-color: white;
  transition: all 0.15s ease;

}

.input-type-professional label:hover {
  color: #016eb6;
}

.input-type-professional input:checked + label {
  background: rgba(150, 216, 255, 0.452);
  border-color: rgb(0, 114, 143);
  color: #00374d;
}


.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}



.button-test {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 2px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em #04e66aa6;
  transition: ease-in 0.3s;
  background: linear-gradient(
    70deg,
    #00DD5C 0%,
    #00DD5C 0%
  );
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button-test:hover {

    transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em #04e66a;;
  transform: translateY(-3px);
}
